[submodule "notes-app-project"]
	path = notes-app-project
	url = https://github.com/romeojeremiah/notes-app-project.git/
[submodule "random-user-api-project"]
	path = random-user-api-project
	url = https://github.com/romeojeremiah/random-user-api-project.git
[submodule "nodejs-basics"]
	path = nodejs-basics
	url = https://github.com/xeroxzen/nodejs-basics.git
